@import "variables"; 
// @import "../base/reset";
// @import "../base/typography";
@import "../components/task";
@import "../components/weekGrid";
@import "../components/tasks";
@import "../components/header";
@import "../components/task-panel";
@import "../components/week-planner";

// Global variables and colors
$font-family: "Inter", sans-serif;
$bg: #f5f7fb;
$border-radius: 10px;

body {
  background-color: $bg;
  font-family: $font-family;
  color: #333;
  margin: 0;
  padding: 0;
}
